<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GW IEEE</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <!-- Theme CSS -->
    <link href="/static/css/agency.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">GW IEEE</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Info</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#Events">Events</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#Services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">E-Board</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">GW Institute for<br />Electrical and Electronics<br />Engineering</div>
                <a href="#services" class="page-scroll btn btn-xl">Learn More</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Info</h2>
                    <h3 class="section-subheading text-muted">GW IEEE is the GW Branch of the National IEEE</h3>
                    <h3 class="section-subheading text-muted">What we do:</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Workshops</h4>
                    <p class="text-muted">In the upcomming acedemic year, whe hop to hold free workshops on circuits, programming, and more.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Events</h4>
                    <p class="text-muted">We hold a variety of social, networking, field trips, and events with other IEEE chapters. Our flagship event is a trip to the IEEE regional conference taking place at Rowan University.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Member Benefits</h4>
                    <p class="text-muted">Becoming a member of Gw IEEE will also grant you membership to the national IEEE orginaztion. IEEE provides internship, job, and networking opportunities and access to various other resources.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <!-- Save the image as Width = 400px Height = 289px -->
    <section id="Events" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Events</h2>
                    <h3 class="section-subheading text-muted">Upcoming and Past Events</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img xstyle="width:400px; height:289px;" src="static/img/IEEE/Rowan Conference Logo.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>IEEE Regional Conference</h4>
                        <p class="text-muted">4/8/2017-4/9/2017</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="\static\img\IEEE\arduino clock.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Arduino Clock Workshop</h4>
                        <p class="text-muted">Date TBA</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="\static\img\IEEE\IEEE_Social_Image.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>IEEE Social</h4>
                        <p class="text-muted">3/30/2017 12:30 SEH Basement</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="static/img/IEEE/ece talks.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Professor Talks</h4>
                        <p class="text-muted">Monthly</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="static/img/IEEE/micron.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Field Trips</h4>
                        <p class="text-muted">Bimonthly</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="static/img/IEEE/makerfaire.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>World Maker Faire 2017</h4>
                        <p class="text-muted">9/23/2017-9/24/2017</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <!-- Images are 200*200px Images must be saved as 200*200 jpg/png, using css will not work with bootstrap auto resizing-->
    <section id="Services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <!--<h3 class="section-subheading text-muted">Possibly add a description later</h3>-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/static/img/IEEE/Services/lab.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>ECE Lab</h4>
                                    <h4 class="subheading">Tompkins XXX</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We hav a lab equipt with Power Suppies, Multimeters, Oscillioscopes, and more. This lab is a great place to work on projects from circuit theory up to senior design.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/static/img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Networking Opportuinites</h4>
                                    <!--<h4 class="subheading">An Agency is Born</h4>-->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Throughtout the year, we will have several opportunities to network with other students, staff, employers, and other IEEE members.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/static/img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Test Prep & Homework Help?</h4>
                                    <!--<h4 class="subheading">Transition to Full Service</h4>-->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We host organized tutoring sessions and review sessions for Midterms and finals.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/static/img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sponsored Projects</h4>
                                    <!--<h4 class="subheading">Phase Two Expansion</h4>-->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We have funding set aside for sponsoring student projects. If you have a project that you need funding for, send us an email gwieee@gwu.edu.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>If you'd like us
                                    <br>to add more
                                    <br>tell us</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">2017-2018 E-Board</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <!--Images 225*225-->
                    <div class="team-member">
                        <img src="\static\img\IEEE\Board Member Pictures\Sebastian.jpg" class="img-responsive img-circle" alt="">
                        <h4>Sebastian Foubert</h4>
                        <div class="text-muted">President</div>
                        <div class="text-muted">sebastian2696@Gwu.edu</div>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="/static/img/team/3.jpg" class="img-responsive img-circle" alt="">
                        <h4>Emma Gutzmann</h4>
                        <div class="text-muted">Vice President</div>
                        <div class="text-muted">emma_gutzmann@gwu.edu</div>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="static/img/IEEE/Board Member Pictures/sophia martinez.png" class="img-responsive img-circle" alt="">
                        <h4>Sophia Martinez</h4>
                        <div class="text-muted">Vice President</div>
                        <div class="text-muted">sophia_martinez@gwu.edu</div>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>




            <div class="row">
                <div class="col-sm-4">
                    <!--Images 225*225-->
                    <div class="team-member">
                        <img src="\static\img\IEEE\Board Member Pictures\Sebastian.jpg" class="img-responsive img-circle" alt="">
                        <h4>Lauren Robinson</h4>
                        <div class="text-muted">Treasurer</div>
                        <div class="text-muted">lrobinson@gwu.edu</div>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="\static\img\IEEE\Board Member Pictures\brandon.jpg" class="img-responsive img-circle" alt="">
                        <h4>Brandon Waller</h4>
                        <div class="text-muted">Secretary/Web Designer</div>
                        <div class="text-muted">brandonw@Gwu.edu</div>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="/static/img/team/3.jpg" class="img-responsive img-circle" alt="">
                        <h4>Emilie Lemieux</h4>
                        <div class="text-muted">Outreach/Events Coordinator</div>
                        <div class="text-muted">elemieux19@gwmail.gwu.edu</div>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">For general questions, email gwieee@gwu.edu</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Clients Aside -->
    <!--200x500 images-->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.ieee.org/index.html">
                        <img src="/static/img/IEEE/links/ieee logo.gif" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://sites.ieee.org/washington/">
                        <img src="/static/img/IEEE/links/IEEE_Washington.PNG"  class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="/static/img/logos/themeforest.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="/static/img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Your Website 2016</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>IEEE Regional Conference</h2>
                                <p class="item-intro text-muted">April 8, 2017 - April 9, 2107</p>
                                <img class="img-responsive img-centered" style="width:50%; height:50%;" src="\static\img\IEEE\Rowan Conference Logo.png" alt="">
                                <p>10 members from IEEE will attent the IEEE REgional Conference at Rowan University along with students from other universities. There will be competitions, and other events. All expenses for the trip are paid for by SEAS.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Arduino Alarm Clock Workshop</h2>
                                <p class="item-intro text-muted">Date TBA</p>
                                <img class="img-responsive img-centered" src="\static\img\IEEE\arduino clock.jpg" alt="">
                                <p>Learn how to solder, use an Arduino with various other comonents, or just come to make a cool, useful circuit. Everyone who attends will be able to take home an alram clock using an Arduino, PCB, Clock Module, LCD Screen, and Buzzer.</p>
                                <p>For more information, email gwieee@gwu.edu <a href="http://designmodo.com/startup/?u=787">here</a>.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>IEEE Social</h2>
                                <p class="item-intro text-muted">Join professors, faculity, and other students at the annual IEEE Social. Free food and drinks will be served.</p>
                                <img class="img-responsive img-centered" src="static/img/IEEE/IEEE_Social_Image.png" alt="">
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>2017 Professor Talk Schedule</h2>
                                <img class="img-responsive img-centered" src="/static/img/portfolio/golden-preview.png" alt="">
                                <ul>
                                    <li>4/26 Distinguished Lecture Series: H.J. Siegel</li>
                                    <li>4/21: Dr. Ponomarev</li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Field Trips</h2>
                                <p class="item-intro text-muted">Every other month, we organize a trip to a local company, lab, or museum. Here are some of the places we plan on visiting in the 2017-2018 acedemic year</p>
                                <ul style = "list-style: none;">
                                    <li>Godard</li>
                                    <li>Micron</li>
                                    <li>NASA</li>
                                    <li>NIST</li>
                                    <li>If there are any other places you would like us to go to, email us at gwieee@gwu.edu.</li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>2017 National Maker Faire</h2>
                                <p class="item-intro text-muted">September 23,24</p>
                                <img class="img-responsive img-centered" src="https://s3.amazonaws.com/os-content-uploads/c0f36a60-a25b-4b0b-a56a-0c6ad024cfc7.png" alt="">
                                <p>Join us and GW Tech Collective for National Maker Faire 2017 in New York City. For freshmen and SEAS students with above a 3.0 GPA, hotel and ticket costs will be funded through SEAS (up to 25 students).</p>
                                <p>Email info@GWTechCollective.org for more information</p>
                                <span>
                                    <p>View GWTC's blog about Maker Faire here: </p>
                                    <a href="http://gwcse.orgsync.com/org/gwtechcollective/blog#post_179275" type="button" class="btn btn-info" >GWTC Blog</a>
                                </span>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

    <!-- Contact Form JavaScript -->
    <script src="/static/js/jqBootstrapValidation.js"></script>
    <script src="/static/js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="/static/js/agency.min.js"></script>

</body>

</html>
